# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Compiled files
*.swp
*.bak
*~

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Lock files
package-lock.json
yarn.lock
